:root {
  --color-primary: #87D303;
  --color-primary02: #A5DF40;
  --color-bg-extra-light: #FAFAFA;
  --color-bg-light: #F2F2F2;
  --color-border: #DDDDDD;
  --color-font-base: #333333;
  --color-font-light: #888888;
  --color-white: #FFFFFF;
  --color-red: #E95757;
}

:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Dosis", sans-serif;
}

:root {
  --z-index-header: 30;
  --z-index-default: 1;
  --z-index-negative: -1;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
:root {
  --base-vw: 375;
}
@media screen and (min-width: 900px) {
  :root {
    --base-vw: 1366;
  }
}

html {
  font-size: calc(100vw / var(--base-vw));
}

body {
  line-height: 1.7;
  font-size: 16rem;
  font-family: var(--font-family-base);
  color: var(--color-font-base);
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  body {
    font-size: 18rem;
  }
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-pb {
  padding-bottom: 64rem !important;
}
@media screen and (min-width: 900px) {
  .u-pb {
    padding-bottom: 96rem !important;
  }
}

.u-ptb {
  padding-block: 64rem !important;
}
@media screen and (min-width: 900px) {
  .u-ptb {
    padding-block: 96rem !important;
  }
}

.c-title {
  display: inline-grid;
  grid-template-columns: 10rem 1fr;
  gap: 14rem 18rem;
}
@media screen and (min-width: 900px) {
  .c-title {
    grid-template-columns: 10rem auto auto;
    gap: 14rem;
    align-items: end;
  }
}
.c-title::before {
  content: "";
  display: block;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.c-title--white::before {
  background-color: var(--color-white);
}

.c-title-en {
  font-family: var(--font-family-en);
  font-size: 40rem;
  font-weight: 400;
  line-height: 1;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (min-width: 900px) {
  .c-title-en {
    font-size: 50rem;
    margin-left: 10rem;
  }
}

.c-title-en--white {
  color: var(--color-white);
}

.c-title-ja {
  line-height: 1;
  font-size: 14rem;
  color: var(--color-font-light);
  grid-column: 2/3;
  grid-row: 2/3;
}
@media screen and (min-width: 900px) {
  .c-title-ja {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.c-title-ja--white {
  color: var(--color-white);
}

.c-title-small {
  font-size: 16rem;
  letter-spacing: 0.075em;
  line-height: 1;
  font-family: var(--font-family-en);
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 10rem;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .c-title-small {
    gap: 14rem;
    font-size: 20rem;
  }
}
.c-title-small::before {
  content: "";
  display: block;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.c-button {
  display: inline-flex;
  align-items: center;
  --gap: 14rem;
  font-family: var(--font-family-en);
  line-height: 1;
  color: var(--color-primary);
  --font-size: 18rem;
  gap: var(--gap);
  font-size: var(--font-size);
}
@media screen and (min-width: 900px) {
  .c-button {
    font-size: 20rem;
    gap: 24rem;
  }
}
.c-button:after {
  --size:47rem;
  --dot-size:5rem;
  content: "";
  display: block;
  width: var(--size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  border-width: calc((var(--size) - var(--dot-size)) / 2);
  border-style: solid;
  border-color: var(--color-primary);
  transition: scale 0.3s;
}
@media screen and (min-width: 900px) {
  .c-button:after {
    --size: 58rem;
    --dot-size:6rem;
  }
}

.c-button--small {
  --font-size: 16rem;
  --gap: 10rem;
}
.c-button--small::after {
  --size:32rem;
  --dot-size:4rem;
}

.c-entry-button {
  width: 290rem;
}
@media screen and (min-width: 900px) {
  .c-entry-button {
    width: 355rem;
  }
}

.c-entry-button-link {
  display: block;
  position: relative;
}
@media (any-hover: hover) {
  .c-entry-button-link:hover .c-button::after {
    scale: 1.1;
  }
}
.c-entry-button-link img {
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
    transform: ratate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-entry-button-text {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.c-news-item-link {
  padding: 16rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-bottom: 1rem solid var(--color-border);
  transition: color 0.3s;
}
@media screen and (min-width: 900px) {
  .c-news-item-link {
    padding: 24rem 20rem;
    gap: 40rem;
    flex-direction: row;
    align-items: center;
  }
}
@media (any-hover: hover) {
  .c-news-item-link:hover {
    color: var(--color-primary);
  }
}

.c-news-item-date {
  letter-spacing: 0.025rem;
  font-size: 13rem;
  color: var(--color-font-light);
  font-family: var(--font-fsmily-en);
}
@media screen and (min-width: 900px) {
  .c-news-item-date {
    font-size: 14rem;
  }
}

.c-news-item-title {
  line-height: 1.6;
}

.c-pagination-list {
  display: flex;
  gap: 6rem;
  justify-content: center;
}

.c-pagination-link,
.c-pagination-number,
.c-pagination-dots {
  display: inline-block;
  width: 40rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16rem;
}

.c-pagination-icon--prev {
  rotate: 180deg;
}

.c-pagination-link {
  background-color: var(--color-bg-light);
  transition: background-color 0.3s, color 0.3s;
}
@media (any-hover: hover) {
  .c-pagination-link:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  .c-pagination-link:hover .c-pagination-icon {
    background-color: var(--color-white);
  }
}

.c-pagination-number--current {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.c-pagination-dot-icon {
  mask-image: url(../img/icon-dots-small.svg);
  mask-size: cover;
  mask-position: center;
  background-color: var(--color-font-base);
  display: block;
  width: 10rem;
  height: 10rem;
  transition: background-color 0.3s;
}

.c-pagination-icon {
  mask-image: url(../img/icon-arrow.svg);
  mask-size: cover;
  mask-position: center;
  background-color: var(--color-font-base);
  display: block;
  width: 10rem;
  aspect-ratio: 1/1;
}

.c-form-required {
  background-color: var(--color-red);
  color: var(--color-white);
  display: inline-block;
  font-size: 13rem;
  padding: 2rem 8rem;
  border-radius: 7rem;
}

.c-form-text {
  padding: 12rem 8rem;
  border-radius: 8rem;
  background-color: var(--color-bg-extra-light);
  width: 100%;
}
.c-form-text::placeholder {
  color: var(--color font-light);
}
.c-form-text:focus {
  outline: 1px solid var(--color-primary);
}

.c-form-text--textarea {
  min-height: 200rem;
  field-sizing: content;
}

.c-form-button {
  font-size: 18rem;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 100vh;
  padding: 13rem 39rem;
  border: 1rem solid var(--color-primary);
  transition: background-color 0.3s, color 0.3s;
}
@media (any-hover: hover) {
  .c-form-button:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
  }
}

.c-breadcrumb {
  display: flex;
}

.c-breadcrumb-item {
  font-size: 14rem;
  color: var(--color-font-light);
  line-height: 1;
  font-family: var(--font-family-en);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .c-breadcrumb-item {
    font-size: 16rem;
  }
}
.c-breadcrumb-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 11rem;
  height: 8rem;
  mask-image: url(../img/icon-arrow.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--color-font-light);
  margin: 0 10rem;
}

.c-breadcrumb-item--current {
  color: var(--color-primary);
}

.c-page-kv {
  background-color: var(--color-bg-light);
  height: 365rem;
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 900px) {
  .c-page-kv {
    height: 467rem;
  }
}
.c-page-kv::after {
  content: "";
  display: block;
  width: 100%;
  height: 64px;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30rem 0 0;
}
@media screen and (min-width: 900px) {
  .c-page-kv::after {
    height: 96rem;
    border-radius: 50rem 0 0;
  }
}
.c-page-kv > * {
  width: 100%;
}

.c-page-kv-inner {
  padding-bottom: 84rem;
  display: flex;
  flex-direction: column;
  gap: 32rem;
}
@media screen and (min-width: 900px) {
  .c-page-kv-inner {
    padding-bottom: 116rem;
    gap: 56rem;
  }
}

.c-page-kv-title-en {
  font-family: var(--font-family-en);
  font-weight: 300;
  font-size: 55rem;
  line-height: 1;
}
@media screen and (min-width: 900px) {
  .c-page-kv-title-en {
    font-size: 72rem;
  }
}

.c-page-kv-title-jp {
  line-height: 1;
  color: var(--color-font-light);
}

.c-page-kv-breadcrumb {
  display: flex;
  justify-content: flex-end;
}

.c-page-kv-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 22rem;
}
@media screen and (min-width: 900px) {
  .c-page-kv-title-wrap {
    gap: 28rem;
  }
}

.l-container-s {
  padding-inline: 20rem;
}
@media screen and (min-width: 900px) {
  .l-container-s {
    padding-inline: 303rem;
  }
}

.l-container {
  padding-inline: 20rem;
}
@media screen and (min-width: 900px) {
  .l-container {
    padding-inline: 83rem;
  }
}

.l-header {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20rem 12rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);
}
@media screen and (min-width: 900px) {
  .l-header {
    padding: 24rem 65rem;
  }
}

.l-header-logo {
  width: 240rem;
}
@media screen and (min-width: 900px) {
  .l-header-logo {
    width: 290rem;
  }
}

.l-header-menu {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.l-header-menu::backdrop {
  display: none;
}
@media screen and (min-width: 900px) {
  .l-header-menu {
    display: block;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.l-header-menu-nav {
  background-color: var(--color-primary);
  width: 319rem;
  margin-left: auto;
  padding: 40rem;
  border-radius: 0 0 0 30rem;
  color: var(--color-white);
}
@media screen and (min-width: 900px) {
  .l-header-menu-nav {
    background-color: transparent;
    padding: 0;
    color: var(--color-font-base);
    border-radius: 0;
    width: auto;
  }
}

.l-header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
@media screen and (min-width: 900px) {
  .l-header-menu-list {
    flex-direction: row;
    gap: 50rem;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .l-header-menu-link-top {
    display: none !important;
  }
}

.l-header-menu-link {
  display: block;
}

@media screen and (min-width: 900px) {
  .l-header-menu-link--current {
    color: var(--color-primary);
  }
}

@media screen and (min-width: 900px) {
  .l-header-menu-link-contact {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 9rem 31rem;
    display: flex;
    align-items: center;
    gap: 9rem;
    border-radius: 100vh;
    border: 1rem solid var(--color-primary);
    transition: background-color 0.3s, color 0.3s;
  }
}
@media screen and (min-width: 900px) and (any-hover: hover) {
  .l-header-menu-link-contact:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
  .l-header-menu-link-contact:hover::before {
    background-color: var(--color-primary);
  }
}
@media screen and (min-width: 900px) {
  .l-header-menu-link-contact::before {
    content: "";
    display: block;
    width: 16rem;
    height: 13rem;
    mask-image: url("../img/icon-mail.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    border-color: var(--color-white);
  }
}

.l-header-menu-text-en {
  font-family: var(--font-family-en);
  font-size: 28rem;
  letter-spacing: 0.025em;
  display: block;
}
@media screen and (min-width: 900px) {
  .l-header-menu-text-en {
    line-height: 1;
    font-size: 18rem;
  }
}

.l-header-menu-text-ja {
  font-size: 14rem;
  opacity: 0.8;
  display: block;
}
@media screen and (min-width: 900px) {
  .l-header-menu-text-ja {
    display: none;
  }
}

.l-header-menu-open-button,
.l-header-menu-close-button {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50rem;
  aspect-ratio: 1/1;
  place-items: center;
}
@media screen and (min-width: 900px) {
  .l-header-menu-open-button,
  .l-header-menu-close-button {
    display: none;
  }
}

.l-header-menu-open-button {
  background-color: var(--color-primary);
}
.l-header-menu-open-button img {
  width: 24rem;
}

.l-header-menu-close-button {
  background-color: var(--color-white);
  position: absolute;
  right: 12rem;
  top: 20rem;
}
.l-header-menu-close-button img {
  width: 28rem;
}

@media screen and (min-width: 900px) {
  .l-header-menu-link--white {
    color: var(--color-white);
  }
}

.l-footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 54rem 40rem;
  display: flex;
  flex-direction: column;
  gap: 24rem;
}
@media screen and (min-width: 900px) {
  .l-footer {
    padding: 54rem 65rem 32rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80rem 0;
  }
}

.l-footer-logo {
  width: 250rem;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .l-footer-logo {
    order: 1;
    margin: 0;
  }
}

.l-footer-info {
  text-align: center;
  font-size: 13rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.l-footer-info * {
  letter-spacing: 0.075em;
}
@media screen and (min-width: 900px) {
  .l-footer-info {
    order: 3;
    width: calc(100% - 200rem);
    text-align: left;
    gap: 5rem;
  }
}

.l-footer-adress span {
  display: inline-block;
}

.l-footer-contact {
  display: flex;
  justify-content: center;
  gap: 12rem;
}
@media screen and (min-width: 900px) {
  .l-footer-contact {
    justify-content: flex-start;
  }
}

.l-footer-menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .l-footer-menu-list {
    order: 2;
    gap: 55rem;
  }
}

.l-footer-menu-item {
  line-height: 1;
  font-family: var(--font-family-en);
  font-size: 18rem;
  gap: 16rem 32rem;
}
.l-footer-menu-item * {
  letter-spacing: 0.025em;
}

.l-footer-menu-item--contact {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .l-footer-menu-item--contact {
    width: auto;
  }
}
.l-footer-menu-item--contact a {
  border: solid 1rem var(--color-white);
  padding: 9rem;
  text-align: center;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  transition: background-color 0.3s, color 0.3s;
}
@media screen and (min-width: 900px) {
  .l-footer-menu-item--contact a {
    padding: 9rem 31rem;
  }
}
.l-footer-menu-item--contact a::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  width: 16rem;
  height: 13rem;
  mask-image: url("../img/icon-mail.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--color-white);
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .l-footer-menu-item--contact a:hover {
    background-color: var(--color-primary);
    color: var(--color-primary);
  }
  .l-footer-menu-item--contact a:hover::before {
    background-color: var(--color-primary);
  }
}

@media screen and (min-width: 900px) {
  .l-fooetr-legal {
    order: 4;
    align-self: center;
  }
}

.l-footer-legal-list {
  display: flex;
  justify-content: center;
  gap: 20rem;
}
@media screen and (min-width: 900px) {
  .l-footer-legal-list {
    justify-content: flex-end;
  }
}

.l-footer-legal-item {
  font-family: var(--font-family-en);
  font-size: 14rem;
  letter-spacing: 0.025em;
}

.l-footer-copyright {
  display: block;
  text-align: center;
  margin-top: 10rem;
  letter-spacing: 0.075em;
  font-size: 12rem;
  opacity: 0.7;
}

.top-kv {
  background-image: url(../img/top/top-kv-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 485rem;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 900px) {
  .top-kv {
    background-image: url(../img/top/top-kv.jpg);
    height: 769rem;
    position: relative;
  }
}

.top-kv-text {
  padding-bottom: 47rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 21rem;
}
@media screen and (min-width: 900px) {
  .top-kv-text {
    padding: 190rem;
    gap: 54rem;
  }
}

.top-kv-text-en {
  font-family: var(--font-family-en);
  line-height: 1.05;
  font-size: 43rem;
  font-weight: 300;
  text-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.0588);
}
@media screen and (min-width: 900px) {
  .top-kv-text-en {
    font-size: 101rem;
  }
}
.top-kv-text-en span {
  letter-spacing: 0.025em;
  display: block;
}

.top-kv-text-ja {
  letter-spacing: 0.2em;
  font-size: 18rem;
  line-height: 1.5;
}
@media screen and (min-width: 900px) {
  .top-kv-text-ja {
    font-size: 22rem;
  }
}

.top-kv-scroll {
  display: none;
}
@media screen and (min-width: 900px) {
  .top-kv-scroll {
    display: flex;
    gap: 6rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-white);
    border-radius: 39rem 0 0 0;
    padding: 49rem 22rem 32rem 36rem;
  }
  .top-kv-scroll::after {
    content: "";
    display: block;
    width: 46rem;
    aspect-ratio: 1/1;
    background-image: url(../img/top/curve.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: -46rem;
  }
}

.top-kv-scroll-hint {
  width: 4rem;
}

.top-kv-scroll-text {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  line-height: 1;
  font-size: 15rem;
  writing-mode: vertical-lr;
}

.top-about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28rem;
}
@media screen and (min-width: 900px) {
  .top-about {
    grid-template-columns: 50% 1fr;
    gap: 59rem;
  }
}

.top-about-content {
  padding: 0 20rem;
}
@media screen and (min-width: 900px) {
  .top-about-content {
    padding: 0 0 0 83rem;
    margin-top: 40rem;
  }
}

.top-about-message-ja {
  line-height: 1.6;
  font-size: 28rem;
  margin-top: 16rem;
}
.top-about-message-ja span {
  display: block;
}
@media screen and (min-width: 900px) {
  .top-about-message-ja {
    font-size: 34rem;
  }
}

.top-about-message-en {
  margin-top: 16rem;
  font-size: 15rem;
  color: var(--color-primary);
  font-family: var(--font-family-en);
}
@media screen and (min-width: 900px) {
  .top-about-message-en {
    font-size: 16rem;
  }
}

.top-about-text {
  margin-top: 24rem;
  line-height: 2.2;
}
@media screen and (min-width: 900px) {
  .top-about-text {
    margin-top: 32rem;
  }
}
.top-about-text span {
  display: block;
}

.top-about-button {
  margin-top: 14rem;
  display: flex;
  justify-content: flex-end;
}
@media (any-hover: hover) {
  .top-about-button a:hover:after {
    scale: 1.1;
  }
}
@media screen and (min-width: 900px) {
  .top-about-button {
    margin-top: 40rem;
  }
}

.top-about-img {
  padding-left: 20rem;
}
@media screen and (min-width: 900px) {
  .top-about-img {
    padding-left: 0;
  }
}
.top-about-img img {
  border-radius: 10rem 0 10rem 0;
}
@media screen and (min-width: 900px) {
  .top-about-img img {
    border-radius: 20rem 0 20rem 0;
  }
}

.top-service {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40rem;
  position: relative;
  padding-block: 64rem;
}
@media screen and (min-width: 900px) {
  .top-service {
    grid-template-columns: 1fr 714rem;
    gap: 65rem;
    padding-top: 64rem;
    padding-bottom: 96rem;
  }
}
.top-service::before {
  content: "";
  display: block;
  height: 500rem;
  width: 355rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-primary);
  z-index: var(--z-index-negative);
  border-radius: 0 0 30rem 0;
}
@media screen and (min-width: 900px) {
  .top-service::before {
    width: 1336rem;
    height: 410rem;
  }
}

.top-service-text {
  color: var(--color-white);
  margin-top: 40rem;
  padding-right: 20rem;
}
@media screen and (min-width: 900px) {
  .top-service-text {
    padding-right: 0;
    font-size: 16rem;
  }
}
.top-service-text span {
  display: block;
}

.top-service-list {
  padding-right: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40rem;
}
@media screen and (min-width: 900px) {
  .top-service-list {
    padding-right: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) {
  .top-service-item a .top-service-item-img img {
    transform: scale(1.03);
  }
  .top-service-item a .c-buttonafter {
    scale: 1.1;
  }
}

.top-service-item-img {
  border-radius: 10rem;
  overflow: hidden;
}
.top-service-item-img img {
  transition: scale 0.3s;
}

.top-service-item-text-ja {
  font-size: 22rem;
  margin-top: 16rem;
}

.top-service-item-title-en {
  font-size: 15rem;
  margin-top: 2rem;
  display: block;
  color: var(--color-primary);
  font-family: var(--font-family-en);
}

.top-service-item-text {
  margin-top: 16rem;
}
@media screen and (min-width: 900px) {
  .top-service-item-text {
    font-size: 16rem;
  }
}
.top-service-item-text span {
  display: block;
}

.top-service-item-button {
  margin-top: 16rem;
  display: flex;
  justify-content: flex-end;
}

.top-recruit-img {
  position: relative;
}

.top-recruit-img-text {
  color: var(--color-primary);
  font-family: var(--font-family-en);
  font-size: 86rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1;
  position: absolute;
  left: 20rem;
  bottom: -33rem;
}
@media screen and (min-width: 900px) {
  .top-recruit-img-text {
    font-size: 150rem;
    bottom: -60rem;
    left: 83rem;
  }
}

.top-recruit-content-wrap {
  margin-top: 80rem;
}
@media screen and (min-width: 900px) {
  .top-recruit-content-wrap {
    margin-top: 118rem;
    display: grid;
    grid-template-columns: 1fr 50%;
  }
}

.top-recruit-text {
  font-size: 28rem;
  line-height: 1.6;
  margin-top: 16rem;
}
.top-recruit-text span {
  display: block;
}
@media screen and (min-width: 900px) {
  .top-recruit-text span {
    display: inline;
  }
}
@media screen and (min-width: 900px) {
  .top-recruit-text {
    font-size: 34rem;
  }
}

@media screen and (min-width: 900px) {
  .top-recruit-content {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.top-recruit-text02 {
  margin-top: 24rem;
  line-height: 2.2;
}
@media screen and (min-width: 900px) {
  .top-recruit-text02 {
    margin-top: 32rem;
  }
}
.top-recruit-text02 span:first-child {
  display: block;
}
@media screen and (min-width: 900px) {
  .top-recruit-text02 span {
    display: block;
  }
}

.top-recruit-text-en {
  margin-top: 14rem;
  font-size: 15rem;
  font-family: var(--font-family-en);
  color: var(--color-primary);
}
@media screen and (min-width: 900px) {
  .top-recruit-text-en {
    margin-top: 24rem;
  }
}
.top-recruit-text-en span {
  display: block;
}

.top-recruit-entry-button {
  margin-top: 64rem;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 900px) {
  .top-recruit-entry-button {
    margin-top: 80rem;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 148rem 0 97rem;
  }
}

.top-news {
  padding-top: 40rem;
  padding-bottom: 60rem;
  position: relative;
}
@media screen and (min-width: 900px) {
  .top-news {
    padding-block: 96rem;
    display: grid;
    grid-template-columns: 1fr 760rem;
    grid-template-rows: auto 1fr;
    gap: 80rem 0;
  }
}
.top-news::before {
  content: "";
  display: block;
  width: 265rem;
  height: 100%;
  background-color: var(--color-bg-extra-light);
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--z-index-negative);
  border-radius: 50rem 0 0 0;
}
@media screen and (min-width: 900px) {
  .top-news::before {
    width: 1080rem;
  }
}

@media screen and (min-width: 900px) {
  .top-news-title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.top-news-list {
  margin-top: 48rem;
}
@media screen and (min-width: 900px) {
  .top-news-list {
    margin-top: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.top-news-button {
  margin-top: 32rem;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 900px) {
  .top-news-button {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
    display: block;
  }
}
@media (any-hover: hover) {
  .top-news-button a:hover::after {
    scale: 1.1;
  }
}

.about-philosophy-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;
  margin-top: 48rem;
}
@media screen and (min-width: 900px) {
  .about-philosophy-list {
    margin-top: 64rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 32rem;
    padding-inline: 32rem;
  }
}

.about-philosophy-item {
  width: 300rem;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color-bg-extra-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
}
@media screen and (min-width: 900px) {
  .about-philosophy-item {
    width: 352rem;
  }
}

.about-philosophy-item-title {
  font-size: 23rem;
  letter-spacing: 0.025em;
  color: var(--color-primary);
  font-family: var(--font-family--en);
}

.about-philosophy-item-text {
  font-size: 22rem;
  line-height: 1.6;
}
.about-philosophy-item-text span {
  display: block;
}

.about-philosophy-item-text02 {
  font-size: 14rem;
  line-height: 1.8;
  color: var(--color-font-light);
}
.about-philosophy-item-text02 span {
  display: block;
}

.about-staff {
  position: relative;
  padding-top: 40rem;
}
@media screen and (min-width: 900px) {
  .about-staff {
    padding-top: 54rem;
  }
}
.about-staff::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 355rem;
  height: 430rem;
  background-color: var(--color-primary);
  border-radius: 0 0 0 50rem;
  z-index: var(--z-index-negative);
}
@media screen and (min-width: 900px) {
  .about-staff::before {
    height: 390rem;
    width: 1326rem;
    left: auto;
    right: 0;
  }
}

.about-staff-head {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
@media screen and (min-width: 900px) {
  .about-staff-head {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.about-staff-text {
  color: var(--color-white);
  font-size: 16rem;
}

.about-staff-slider {
  margin-left: 20rem;
  margin-top: 40rem;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .about-staff-slider {
    margin-top: 54rem;
  }
}

.about-staff-list ul {
  display: flex;
  gap: 32rem;
}

.about-staff-item {
  width: 230rem;
}
@media screen and (min-width: 900px) {
  .about-staff-item {
    width: 285rem;
  }
}

.about-staff-item-img img {
  border-radius: 10rem;
}

.about-staff-item-position {
  font-size: 14rem;
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 16rem;
}
.about-staff-item-position::before {
  content: "";
  display: block;
  width: 8rem;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.about-staff-item-name {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.about-staff-item-name-ja {
  font-size: 20rem;
  letter-spacing: 0.075em;
}
@media screen and (min-width: 900px) {
  .about-staff-item-name-ja {
    font-size: 24rem;
  }
}

.about-staff-item-name-en {
  font-size: 14rem;
  color: var(--color-font-light);
  font-family: var(-font-family-en);
}
@media screen and (min-width: 900px) {
  .about-staff-item-name-en {
    font-size: 15rem;
  }
}

.about-company {
  background: var(--color-bg-extra-light);
}
@media screen and (min-width: 900px) {
  .about-company {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 32rem 51rem;
  }
}

@media screen and (min-width: 900px) {
  .about-company-title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.about-company-img {
  margin-top: 40rem;
}
@media screen and (min-width: 900px) {
  .about-company-img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 0;
    align-self: end;
  }
  .about-company-img img {
    border-radius: 14rem;
  }
}
.about-company-img img {
  border-radius: 10rem;
}

.about-company-table {
  margin-top: 16rem;
}
@media screen and (min-width: 900px) {
  .about-company-table {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
  }
}

@media screen and (min-width: 900px) {
  .about-company-table-body {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.about-company-table-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 16rem 8rem;
  border-bottom: 1rem solid var(--color-border);
}
@media screen and (min-width: 900px) {
  .about-company-table-item {
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1/-1;
    padding: 24rem 8rem;
    gap: 0 40rem;
  }
}
.about-company-table-item th {
  font-size: 14rem;
  letter-spacing: 0.125em;
  color: var(--color-font-light);
}
@media screen and (min-width: 900px) {
  .about-company-table-item th {
    font-size: 16rem;
  }
}
.about-company-table-item td span {
  display: block;
}/*# sourceMappingURL=style.css.map */