:root {
  --color-primary: #87D303;
  --color-primary02: #A5DF40;
  --color-bg-extra-light: #FAFAFA;
  --color-bg-light: #F2F2F2;
  --color-border: #DDDDDD;
  --color-font-base: #333333;
  --color-font-light: #888888;
  --color-white: #FFFFFF;
  --color-red: #E95757;
}

:root {
  --font-family-base: "Noto Serif JP", serif;
  --font-family-en: "Dosis", sans-serif;
}

:root {
  --z-index-header: 30;
  --z-index-default: 1;
  --z-index-negative: -1;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
:root {
  --base-vw: 375;
}
@media screen and (min-width: 900px) {
  :root {
    --base-vw: 1366;
  }
}

html {
  font-size: calc(100vw / var(--base-vw));
}

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.c-title {
  display: inline-grid;
  grid-template-columns: 10rem 1fr;
  gap: 14rem 18rem;
}
@media screen and (min-width: 900px) {
  .c-title {
    grid-template-columns: 10rem auto auto;
    gap: 14rem;
    align-items: end;
  }
}
.c-title::before {
  content: "";
  display: block;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.c-title-white::before {
  background-color: var(--color-white);
}

.c-title-en {
  font-family: var(--font-family-en);
  font-size: 40rem;
  font-weight: 400;
  line-height: 1;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (min-width: 900px) {
  .c-title-en {
    font-size: 50rem;
    margin-left: 10rem;
  }
}

.c-title-en--white {
  color: var(--color-white);
}

.c-title-ja {
  line-height: 1;
  font-size: 14rem;
  font-weight: 400;
  color: var(--color-font-light);
  grid-column: 2/3;
  grid-row: 2/3;
}
@media screen and (min-width: 900px) {
  .c-title-ja {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.c-title-ja--white {
  color: var(--color-white);
}

.c-title-small {
  font-size: 16rem;
  letter-spacing: 0.075em;
  line-height: 1;
  font-family: var(--font-family-en);
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 10rem;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .c-title-small {
    gap: 14rem;
    font-size: 20rem;
  }
}
.c-title-small::before {
  content: "";
  display: block;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.c-button {
  display: inline-flex;
  align-items: center;
  --gap: 14rem;
  font-family: var(--font-family-en);
  line-height: 1;
  color: var(--color-primary);
  --font-size: 18rem;
  gap: var(--gap);
  font-size: var(--font-size);
}
@media screen and (min-width: 900px) {
  .c-button {
    font-size: 20rem;
    gap: 24rem;
  }
}
.c-button:after {
  --size:47rem;
  --dot-size:5rem;
  content: "";
  display: block;
  width: var(--size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  border: calc((var(--size) - var(--dot-size)) / 2) solid var(--color-primary);
}
@media screen and (min-width: 900px) {
  .c-button:after {
    --size: 58rem;
    --dot-size:6rem+ ;
  }
}

.c-button--small {
  --font-size: 16rem;
  --gap: 10rem;
}
.c-button--small::after {
  --size:32rem;
  --dot-size:4rem;
}

.c-entry-button {
  width: 290rem;
}
@media screen and (min-width: 900px) {
  .c-entry-button {
    width: 355rem;
    background-color: red;
  }
}

.l-container-s {
  padding-inline: 20rem;
}
@media screen and (min-width: 900px) {
  .l-container-s {
    padding-inline: 303rem;
  }
}

.l-container {
  padding-inline: 20rem;
}
@media screen and (min-width: 900px) {
  .l-container {
    padding-inline: 83rem;
  }
}/*# sourceMappingURL=style.css.map */