@use "../../global" as g;

.service-detail-wrap {

}

.service-detail {

}

.service-detail-content {

}

.service-detail-title-ja {

}

.service-detail-title-en {

}

.service-detail-period {

}

.service-detail-text {

}

.service-detail-list {

}

.service-detail-item {

}

