@use "../../global" as g;

.service-case-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40rem;
    margin-top: 40rem;

    @include g.mq() {
        grid-template-columns: repeat(3, 1fr);
        gap: 39rem;
        margin-top: 54rem;
    }
}

.service-case-item{
    a{
        @media (any-hover: hover) {
            &:hover {
                .service-case-item-img{
                    img{
                        scale: 1.03;
                    }
                }

                .c-button{
                    &::after{
                        scale: 1.1;
                    }
                }
            }
        }
    }
}

.service-case-item-img {
    border-radius: 10rem;
    overflow: hidden;

    @include g.mq() {
        border-radius: 12rem;
    }

    img{
        transition: scale 0.3s;
    }
}

.service-case-item-title {
    margin-top: 14rem;
    letter-spacing: 0.075em;
    font-size: 14rem;

    span{
        color: var(--color-font-light);
    }
}

.service-case-item-text {
    margin-top: 8rem;
    line-height: 1.6;
}

.service-case-item-button {
    margin-top: 8rem;
    display: flex;
    justify-content: flex-end;
}


