@use "../../global" as g;

.recruit-culture-gallery {
    margin-top: 40rem;
    // overflow: hidden;
}

.recruit-culture-gallery-list {
    // display: flex;
    // gap:10rem ;

    // @include g.mq() {
    //     gap: 32rem;
    // }

    img{
        border-radius: 10rem;
        width: 223rem;

        @include g.mq() {
            border-radius: 12rem;
            width: 335rem;
        }
    }
}

