:root {
    --color-primary: #87D303;
    --color-primary02: #A5DF40;
    --color-bg-extra-light: #FAFAFA;
    --color-bg-light: #F2F2F2;
    --color-border: #DDDDDD;
    --color-font-base: #333333;
    --color-font-light: #888888;
    --color-white: #FFFFFF;
    --color-red: #E95757;
}