@use "../../global" as g;

.about-philosophy-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24rem;
    margin-top: 48rem;

    @include g.mq() {
        margin-top: 64rem;
        grid-template-columns: repeat(3,1fr);
        gap: 32rem;
        padding-inline: 32rem;
    }
}

.about-philosophy-item {
    width: 300rem;
    aspect-ratio: 1/1;
    margin-inline: auto;
    border-radius: 50%;
    text-align: center;
    background-color: var(--color-bg-extra-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16rem;

    @include g.mq() {
        width: 352rem;
    }
}

.about-philosophy-item-title {
    font-size: 23rem;
    letter-spacing: 0.025em;
    color: var(--color-primary);
    font-family: var(--font-family--en);
}

.about-philosophy-item-text {
    font-size: 22rem;
    line-height: 1.6;

    span{
        display: block;
    }
}

.about-philosophy-item-text02 {
    font-size: 14rem;
    line-height: 1.8;
    color: var(--color-font-light);

    span{
        display: block;
    }
}

