@use"../global/" as g;

.u-visually-hidden{
    position:absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip:rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

.u-pb{
    padding-bottom: 64rem !important;

    @include g.mq() {
        padding-bottom: 96rem !important;
    }
}

.u-ptb{
    padding: 64rem  0 !important;

    @include g.mq() {
        padding: 96rem 0 !important;
    }
}