@use"../global"as g;

.l-container-s{
    padding-inline: 20rem;

    @include g.mq(){
        padding-inline: 303rem;
    }
}

.l-container{
    padding-inline: 20rem;

    @include g.mq(){
        padding-inline: 83rem;
    }
}