@use"../global"as g;

.l-footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 54rem 40rem;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    // 4:31 まで試聴
}

.l-footer-logo {

}

.l-footer-info {

}

.l-footer-company {

}

.l-footer-adress {

}

.l-footer-contact {

}

.l-footer-menu-list {

}

.l-footer-menu-item {

}

.l-footer-menu-item--contact {

}

.l-fooetr-legal {

}

.l-footer-legal-list {

}

.l-footer-legal-item {

}

.l-footer-copyright {

}

