@use"../global/" as g;

.c-button{
    display: inline-flex;
    align-items: center;
    --gap: 14rem;
    font-family: var(--font-family-en);
    line-height: 1;
    color: var(--color-primary);
    --font-size: 18rem;
    gap: var(--gap);
    font-size: var(--font-size);

    // 修正: @include を追記
    @include g.mq(){ 
        font-size: 20rem;
        gap: 24rem;
    }

    &:after{
        --size:47rem;
        --dot-size:5rem;
        content: "";
        display: block;
        width: var(--size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--color-white);
        border-width: calc((var(--size) - var(--dot-size))/2);
        border-style: solid;
        border-color: var(--color-primary);        
        
        @include g.mq(){
            --size: 58rem;
            --dot-size:6rem;
        }
    }
}

.c-button--small{
    --font-size: 16rem;
    --gap: 10rem;

    &::after{
        --size:32rem;
        --dot-size:4rem;
    }
}