@use"../global/" as g;

.c-entry-button {
    width: 290rem;

    @include g.mq(){
        width: 355rem;
    }
    
}

.c-entry-button-link {
    display: block;
    position: relative;

    @media (any-hover: hover) {
        &:hover{
            .c-button{
                &::after{
                    scale:1.1;
                }
            }
        }
        
    }

    img{
        animation: rotate 20s linear infinite;
    }

    @keyframes rotate {
        from{
            transform: ratate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }

}

.c-entry-button-text {
    position: absolute;
    left: 50%;
    top: 50%;
    translate:  -50% -50%;
}



