@use"../global/" as g;

.c-news-item-link {
    padding: 16rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-bottom: 1rem solid var(--color-border);
    transition: 0.3s;

    @include g.mq(){
        padding: 24rem 20rem;
        gap: 40rem;
        flex-direction: row;
        align-items: center;
    }

    @media(any-hover: hover){
        &:hover{
            color: var(--color-primary)
        }
    }
}

.c-news-item-date {
    letter-spacing: .025rem;
    font-size: 13rem;
    color: var(--color-font-light);
    font-family: var(--font-fsmily-en);

    @include g.mq(){
        font-size: 14rem;
    }
}

.c-news-item-title {
    line-height: 1.6;
}



