@use "../../global" as g;

.top-kv {
    background-image:url(../img/top/top-kv-sp.jpg);
    background-size: cover;
    background-position: center;
    height: 485rem;
    display: flex;
    align-items: flex-end;

    @include g.mq() {
        background-image: url(../img/top/top-kv.jpg);
        height: 769rem;
    }
}

.top-kv-text {
    display: none;

}

.top-kv-text-en {

}

.top-kv-text-ja {

}

.top-kv-scroll {
    display: none;

}

.top-kv-scroll-hint {

}

.top-kv-scroll-text {

}

