@use "../../global" as g;

.top-kv {
    background-image:url(../img/top/top-kv-sp.jpg);
    background-size: cover;
    background-position: center;
    height: 485rem;
    display: flex;
    align-items: flex-end;

    @include g.mq() {
        background-image: url(../img/top/top-kv.jpg);
        height: 769rem;
        position:relative;
    }
}

.top-kv-text {
    padding-bottom: 47rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 21rem;

    @include g.mq() {
        padding: 190rem;
        gap: 54rem;
    }
}

.top-kv-text-en {
    font-family: var(--font-family-en);
    line-height: 1.05;
    font-size: 43rem;
    font-weight: 300;
    text-shadow: 0 3rem 7rem rgb(0, 0, 0,0.0588);


    @include g.mq() {
        font-size: 101rem;
    }

    span{
        letter-spacing: 0.025em;
        display: block;
    }
}


.top-kv-text-ja {
    letter-spacing: 0.2em;
    font-size: 18rem;
    line-height: 1.5;

    @include g.mq() {
        font-size: 22rem;
    }
}

.top-kv-scroll {
    display: none;

    @include g.mq() {
        display: flex;
        gap: 6rem;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--color-white);
        border-radius: 39rem 0 0 0;
        padding: 49rem 22rem 32rem 36rem;

        &::after{
            content: "";
            display: block;
            width: 46rem;
            aspect-ratio: 1/1;
            background-image: url(../img/top/curve.svg);
            background-size: cover;
            background-position: center;
            position: absolute;
            bottom: 0;
            left: -46rem;
        }
    }

}

.top-kv-scroll-hint {
    width: 4rem;
}

.top-kv-scroll-text {
    color: var(--color-primary);
    font-family: var(--font-family-en);
    line-height: 1;
    font-size: 15rem;
    writing-mode: vertical-lr;
}

