@use "../../global" as g;

.top-kv {
    background-image:url(../img/top/top-kv-sp.jpg);
    background-size: cover;
    background-position: center;
    height: 485rem;
    display: flex;
    align-items: flex-end;

    @include g.mq() {
        background-image: url(../img/top/top-kv.jpg);
        height: 769rem;
    }
}

.top-kv-text {
    padding: 47rem;
    color: var(--color-white);
}

.top-kv-text-en {
    font-family: var(--font-family-en);
    line-height: 1.05;
    font-size: 43rem;

    span{
        letter-spacing: 0.025em;
        display: contents;
    }
}


.top-kv-text-ja {

}

.top-kv-scroll {
    display: none;

}

.top-kv-scroll-hint {

}

.top-kv-scroll-text {

}

