@use "../../global" as g;

.top-about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28rem;
}

.top-about-content {
    padding: 0 20rem;
}

.top-about-message-ja {
    line-height: 1.6;
    font-size: 28rem;
    margin-top :16rem; 

    span{
        display: block;
    }
}

.top-about-message-en {
    margin-top: 16rem;
    font-size: 15rem;
    color: var(--color-primary);
    font-family: var(--font-family-en);
}

.top-about-text {

}

.top-about-button {

}

.top-about-img {

}

