@use"../global/" as g;

.top-kv {
    background-image:url(../img/top/.top-kv-sp.jpg);
    background-size: cover;
    background-position: center;

    @include g.mq() {
        background-image: url(../img/top/.top-kv-pc.jpg);
    }
}

.top-kv-text {

}

.top-kv-text-en {

}

.top-kv-text-ja {

}

.top-kv-scroll {

}

.top-kv-scroll-hint {

}

.top-kv-scroll-text {

}

