@use "../../global" as g;

.top-news {
    padding-top: 40rem; 
    padding-bottom: 60rem;
    position: relative;

    @include g.mq() {
        padding-block: 96rem;
        display: grid;
        grid-template-columns: 1fr 760rem;
        grid-template-rows: auto 1fr;
        gap: 80rem 0;
    }

    &::before{
        content: "";
        display: block;
        width: 265rem;
        height: 100%;
        background-color: var(--color-bg-extra-light);
        position: absolute;
        right: 0;
        top: 0;
        z-index: var(--z-index-negative);
        border-radius: 50rem 0 0 0;

        @include g.mq() {
            width: 1080rem;

        }
    }
}

.top-news-title {
    @include g.mq() {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.top-news-list{
    margin-top: 48rem;

    @include g.mq() {
        margin-top: 0;
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.top-news-button {
    margin-top: 32rem;
    display: flex;
    justify-content: flex-end;

    @include g.mq() {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 0;
        display: block;
    }

    a{
        @media (any-hover: hover) {
            &:hover {
                &::after{
                    scale: 1.1;
                }
            }
        }
    }
}


