@use "../../global" as g;

.top-recruit {

}


.top-recruit-img {
    position: relative;
}

.top-recruit-img-text {
    color: var(--color-primary);
    font-family: var(--font-family-en);
    font-size: 86rem;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1;
    position: absolute;
    left: 20rem;
    bottom: -33rem;

    @include g.mq() {
        font-size: 150rem;
        bottom: -60rem;
        left: 83rem;
    }
}

.top-recruit-content-wrap {
    margin-top:80rem;

    @include g.mq() {
        margin-top: 118rem;
        display: grid;
        grid-template-columns: 1fr 50%;
    }
}

.top-recruit-text{
    font-size: 28rem;
    line-height: 1.6;
    margin-top: 16rem;
    
    span{
        display: block;

        @include g.mq() {
            display: inline;
        }
    }

    @include g.mq() {
        font-size: 34rem;
    }
}

.top-recruit-content {
    @include g.mq() {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}


.top-recruit-text02 {
    margin-top: 24rem;
    line-height: 2.2;

    @include g.mq() {
        margin-top: 32rem;
    }

    span{
        &:first-child{
            display: block;
        }

        @include g.mq() {
            display: block;
        }
    }
}

.top-recruit-text-en {
    margin-top: 14rem;
    font-size: 15rem;
    font-family: var(--font-family-en);
    color: var(--color-primary);

    @include g.mq() {
        margin-top: 24rem;
    }

    span{
        display: block;
    }
}

.top-recruit-entry-button {
    margin-top: 64rem;
    display: grid;
    place-items: center;

    @include g.mq() {
        margin-top: 80rem;
        grid-column: 1/2;
        grid-row: 1/2;
        
        padding: 0 148rem 0 97rem;
    }
}

